ul.events {
  li.item {
    margin-bottom: 30px;
    background: #FFF;
    height: 260px;
    overflow: hidden;
    .photo {
      padding: 0px;
      width: 168px;
      margin: 0px;
      img {
        width: 168px;
        height: 300px;
      }
    }
    .content {
      margin-left: 190px;
      margin-top: -260px;
      .title {
        font-size: 30px;
        a {
          color: #000;
        }
      }
    }
  }
}
