@import "compass/css3";
ul.events {
  li.item {
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    @include box-shadow(rgba(black, 0.3) 2px 2px 10px);
    background: #FAFAFA;
    overflow: hidden;
    margin-bottom: 20px;
    .photo {
      margin-left: 0px;
      img {
        width: 175px;
        height: 260px;
      }
    }
    .content {
      padding: 10px;
      margin-left: 10px;
      .title {
        margin-bottom: 10px;
        a{
          font-size: 30px;
          color: black;
          @include transition-property(color);
          @include transition-duration(0.2s);
          @include transition-timing-function(ease-in);
          &:hover {
            color: #00A8E1;
            text-decoration: none;
          }
        }
      }
      li {
        line-height: 180%;
      }
    }
  }
}
