@import "compass/css3";
@import "compass/utilities";
.recent_events {
  background: #FFFFFF;
  margin-bottom: 20px;
  @include border-radius(3px);
  border: 1px solid #DDD;
  @include box-shadow(rgba(black, 0.3) 0 1px 2px);
  h4 {
    padding: 10px 0 10px 20px;
    margin-top: 0;
    background: #F1F1F1;
    @include box-shadow(rgba(black, 0.2) 0px -1px 1px inset);
  }
  ul {
    padding: 20px;
    padding-top: 10px;
  }
  li {
    line-height: 25px;
    & a {
      color: black;
    }
    .time {
      color: #777777;
      float:right;
    }
    hr {
      margin: 10px 0;
    }
  }

  .title {
    span {
      color: #777;
      float: right;
    }
  }
  .content {
    margin-top: 10px;
    padding: 10px;
    background: #F3F3F3;
    @include border-radius(5px);
  }
}

.profile {
  background: #343131;
  color: #FFFFFF;
  padding: 20px;
  margin-bottom: 20px;
  width: 660px;
  @include border-radius(3px);
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  .photo {
    img {
      text-align: center;
      vertical-align: middle;
      border: 2px solid #FFFFFF;
      @include border-radius(3px);
    }
    @include box-flex(1);
  }
  .info {
    @include box-flex(8);
    td {
      padding: 0 10px;
    }
    a {
      color: #FFFFFF;
      font-style: italic;
    }
  }
  .action {
    @include box-flex(1);
  }
}

#user_sidebar {
  hr {
    margin: 5px 0;
  }
  .mini_profile {
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    margin-bottom: 15px;
    padding: 10px;
    overflow: hidden;
  }
}
legend {
  padding: 10px 20px;
  width: 660px;
}
ul.nav-list {
  .nav-header {
    font-size: 15px;
  }
  a {
    margin: 0px;
  }
}

#friends_list {
  li {
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    .photo {
      @include box-flex(1);
    }
    .info {
      @include box-flex(10);
    }
    .follow_button {
      @include box-flex(1);
    }
    padding: 20px 0;
    border-bottom: 1px solid #DDD;
  }
}
