body {
  background-image: url("/assets/dark_mosaic.png");
}
.container {
  width: 960px;
}

.navbar-fixed-top {
  position: static;
  right: 0;
  left: 0;
  margin-bottom: 20px;
  #btn_new_activity {
    button {
      margin-top:-3px;
    }
  }
}

//a:hover {
//  text-decoration:none;
//  color: #0033bb;
//}

.box {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 0;
  //margin-left: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.1);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
}

////////////////UI


#new_message {
  margin-bottom: 50px;
  textarea {
    width: 97.5%;
  }
  button {
    float: right;
    margin-left: 10px;
  }
  select {
    float: right;
    width: 80px;
  }
}

#messages, #friends {
  li {
    margin-bottom: 20px;
    img {
      width: 60px;
      height: 60px;
    }
    span {
      float:right;
      margin-left:5px;
      margin-top: 15px;
    }

  }
}

.setting, .nav_activity{
  .nav-header {
    font-size: 20px;
  }
}

.activity {
  bottom: 1px;
  .datetime {
    //float: right;
  }
}

.right_sidebar {
  width:270px;
  float: right;
  //margin-left: 690px;
}

.left_sidebar {
  width: 270px;
  float: left;
}

.main {
  width: 670px;
  margin: 0px;
  //position: absolute;
}
.main-left {
  float: left;
}
.main-right {
  //margin-left: 290px;
  float:right;
}

/////////

#user_sidebar {
  dt, dt img{
    width: 64px;
    height: 64px;
    //float: left;
    margin: 0;
    position: absolute;
  }
  dd {
    margin-left: 80px;
    //float:right;
  }
  table a:hover {
    text-decoration:none;
  }
}

///////////

.activity_brief {
  img {
    width: 70px;
    height: 90px;
  }
  .photo {
    float:left;
    margin-right: 10px;
  }
  .title {
    font-size: 17px;
  }
  
}

////////////

.single_activity {
  .base img {
    width: 175px;
    height: 260px;
    float: left;
    margin-right: 5px;
  }
  .base .info {
    margin-bottom: 5px;
  }
}

.comments {
    
  form textarea {
    width: 635px; 
  }
  form button {
    float: right;
  }
  img { 
    width: 48px;
    height: 48px; 
    margin-right: 5px;
  }
  .comment_content {
    width: 580px;
    margin-left: 56px;
    margin-top: -48px;
    margin-bottom: 35px;   
  }
}


/////////////////////

.base_info {
  
  img {
    width: 96px;
    height: 96px;
  }
}

.footer {
  position: absolute;
  margin-top: 400px;
}

button.create_activity {
  float: right;
}

#create_activity {
  .date {
    input {
      width: 70px;
      margin-right: 10px;
    }
  }
  .place {
    select {
      margin-right: 10px;
    }
    .city {
      width: 70px;
    }
    .area {
      width: 100px;
    }
    .school {
      width: auto;
    }
    .place_detail {
      margin-top: 10px;
    }
  }
  .detail {
    textarea {
      width: 400px;
    }
  }
}

.profile {
  .span2 {
    float: left;
  }
  .info {
    float: left;
    margin-left: -70px;
  }
  .action {
    float: right;
    margin-right: 60px;
    margin-top: 20px;
  }
}

.push_follow {
  img {
    height: 24px;
    width: 24px;
  }
}

