.activity {
  bottom: 1px;
  .datetime {
    //float: right;
  }
}

.events td {
  img {
    width: 70px;
    height: 90px;
  }
  .photo {
    float:left;
    margin-right: 10px;
  }
  .title {
    font-size: 17px;
  }
  
}

#create_event {
  .date {
    select {
      width: auto;
    }
  }
  .place {
    select {
      margin-right: 10px;
    }
    .city {
      width: 70px;
    }
    .area {
      width: 100px;
    }
    .school {
      width: auto;
    }
    .place_detail {
      margin-top: 10px;
    }
  }
  .detail {
    textarea {
      width: 400px;
    }
  }
}
