.activity {
  bottom: 1px;
  .datetime {
    //float: right;
  }
}

.events td {
  img {
    width: 70px;
    height: 90px;
  }
  .photo {
    float:left;
    margin-right: 10px;
  }
  .title {
    font-size: 17px;
  }
  
}
