@import "compass";
@import "compass/css3";
@import "compass/utilities";
.box {
  border: 1px solid #ddd;
  background: #FFFFFF;
  @include border-radius(3px);
  @include box-shadow(rgba(black, 0.3) 0px 1px 2px);
  & > .title {
    text-align: center;
    vertical-align: middle;
    padding: 0.3em 0;
    @include background-image(linear-gradient(white, #EEE, #CCC));
  }
  ul {
    padding: 10px;
    li {
      line-height: 25px;
    }
  }
  margin-bottom: 20px;
}

a.create_event_link {
  color: #ffffff;
  font-weight: bold;
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}
.create_event {
  display: inline-block;
  background: #1188f0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e8cff), color-stop(100%,#1188f0));
  background: -moz-linear-gradient(center top, #2e8cff 0%, #1188f0 100%);
  -webkit-box-shadow: 0px 5px 0px 0px #006391, 0px -1px 0px 0px #1c95ff inset;
  -moz-box-shadow: 0px 5px 0px 0px #006391, 0px -1px 0px 0px #1c95ff inset;
  box-shadow: 0px 5px 0px 0px #006391, 0px -1px 0px 0px #1c95ff inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  text-shadow: 0px 1px 0px #006ac7;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  width: 190px;
  margin-bottom: 20px;
}
.create_event:hover {
  background: #1995fa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e8cff), color-stop(100%,#2e8cff));
  background: -moz-linear-gradient(center top, #2e8cff 0%, #2e8cff 100%);
}
.create_event:active {
  -webkit-box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
  -moz-box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
  box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
  -webkit-transition: background-position 0.3s linear;
  -moz-transition: background-position 0.3s linear;
  -o-transition: background-position 0.3s linear;
  transition: background-position 0.3s linear;
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  transform: translateY(3px);
}
